<div>
  <link href="./header.css" rel="stylesheet" />
  <div class="header-header">
    <nav class="header-nav">
      <div class="header-container">
        <img
          alt="image"
          src="902be27c-a7c8-40cd-bc96-53ba4c195fdb"
          class="header-image"
        />
        <a href="/" class="header-navlink large">
          Chalk : Civil-Infrastructure Deterioration Auto-Labeling Toolkit
        </a>
        <div class="header-container1"></div>
        <div class="header-container2">
          <div class="header-container3">
            <a href="/labeling-page.html" class="header-navlink1">
              <div class="primary-pink-button-container rootClassName">
                <button class="primary-pink-button-button button buttonSmall">
                  <span>Start Now</span>
                </button>
              </div>
            </a>
          </div>
          <svg viewBox="0 0 1024 1024" class="header-icon">
            <path
              d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
            ></path>
          </svg>
        </div>
      </div>
    </nav>
  </div>
</div>
